.tweet-input{
  padding-top: 15px;
  background-color: #E8F4FB;
  padding-bottom: 2px;
  padding-left: 18px;
}
.tweet-form{
  min-width: 95%;
  word-wrap: normal;
}
img#user{
  max-width: 32px;
}
.icon-spot{
  padding-left: 10px;
  padding-right: 10px;
}
.twit-content{
  padding-left: 10px;
}
.user-input{
  margin-top: 10px;
}
.the-tl{
  background-color: white;
  padding:18px;
  border: solid 1px #e6ecf0;
}
.stat-icon{
  max-width: 20px;
  float:left;
}
img.avatar{
  max-width: 48px;
}
