<div class="user-input">
  <div class="tweet-input">
    <div class="row">
      <div class="col-md-1">
        <img src="./assets/usericon.png" id="user">
      </div>
      <div class="col-md-11">
        <textarea class="tweet-form"rows="3" cols="59"></textarea>
        <br><button class="round-corner post-tweet" name="tweet-submit"  id="tweet-submit" (click)='makeTweet()'>Tweet</button>
      </div>
    </div>
  </div>
  <div class="the-tl" *ngFor="let tweet of tweets">
    <div class="new-tweet">
      <span class="display-name">{{tweet.name}}</span><span class="handle">{{tweet.username}}</span>
      <br>{{tweet.tweet}}
    </div>
  </div>
</div>
