<div class="user-input">
  <div class="tweet-input">
    <div class="row">
      <div class="col-md-1">
        <img src="./assets/usericon.png" id="user">
      </div>
      <div class="col-md-11">
        <textarea class="tweet-form"ref-textarea rows="3" placeholder="What's happening?" [(ngModel)]="content" #newTweet></textarea>
        <br><button class="round-corner post-tweet" name="tweet-submit" id="tweet-submit" (click)='makeTweet(newTweet.value); content=""'>Tweet</button>
      </div>
    </div>
  </div>
  <div class="the-tl" *ngFor="let tweet of tweets | async | reverse">
    <div class="new-tweet">
      <div class="row">
        <div class="col-md-1 icon-spot">
          <img src="{{tweet.icon}}" alt="" class="avatar">
        </div>
        <div class="col-md-11 twit-content">
          <span class="display-name">{{tweet.name}}</span>   <span class="handle">@{{tweet.username}}</span>
          <br>{{tweet.tweet}}
          <br><img src="{{tweet.img}}" alt="">
          <div class="row">
            <div class="col-md-2">
              <img src="./assets/reply.png" alt="" class="stat-icon">{{tweet.replies}}
            </div>
            <div class="col-md-2">
              <img src="./assets/rt.png" alt="" class="stat-icon"> {{tweet.retweets}}
            </div>
            <div class="col-md-2">
              <img src="./assets/like.png" alt="" class="stat-icon" (click)="addLike(clickedTweet)">{{tweet.likes}}
            </div>
            <div class="col-md-6">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
