<div class="container-fluid">
  <div class="row moments">
    <div class="col-md-6">
      <img src="./assets/dogs.jpg" alt="cute dogs">
      <h3>Look at these cute dogs!</h3>
      <p>They're definitely planning something but what?</p>
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-auto">
          <img src="./assets/bigcat.jpg" alt="a carcal or something" class="side">
        </div>
        <div class="col-auto">
          <h4><strong>Wild cat comeback!</strong></h4>
          <p>Big cat populations are on the rise thanks zoo-based breeding programs</p>
        </div>
      </div>
      <div class="row">
        <div class="col-auto">
          <img src="./assets/got.jpg" alt="game of thrones poster" class="side">
        </div>
        <div class="col-auto">
          <h4><strong>Release date Game of Thrones announced</strong></h4>
          <p>Wow! Such suspense! Much wow!</p>
        </div>
      </div>
    </div>
  </div>
</div>
