<div class="identity">
  <img src="./assets/usericon.png">
  <br><span class="display-name">{{newUser.name}}</span>
  <br><span class="handle">{{newUser.handle}}</span>
  <div class="stats">
    <div class="row">
      <div class="col-md-4">
        <span class="small-headers">Tweets</span>
        <br><span class="stats">{{newUser.tweets}}</span>
      </div>
      <div class="col-md-4">
        <span class="small-headers">Following</span>
        <br><span class="stats">{{newUser.following}}</span>
      </div>
      <div class="col-md-4">
        <span class="small-headers">Followers</span>
        <br><span class="stats">{{newUser.followers}}</span>
      </div>
    </div>
</div>
</div>
