.identity{
  background-color: white;
  padding: 10px;
  margin-top: 10px;
}
img{
  max-width: 72px;
}
.stats{
  color: #1B95E0;
  font-weight: bold;
}
.small-headers{
  color: #657786;
  font-size: 12px;
}
input{
  background-color: #f5f8fa;
  border: 1px solid #e6ecf0;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 12px;
  padding-right: 32px;
  font-size: 12px;
}
.icons{
  text-align: center;
}
