.identity{
  background-color: white;
  padding: 10px;
  margin-top: 10px;
}
img{
  max-width: 72px;
}
.stats{
  color: #1B95E0;
  font-weight: bold;
}
.small-headers{
  color: #657786;
  font-size: 12px;
}
