<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg">
      <div class="icons">
        <a class="nav-link" routerLink=''><img src="./assets/home.png" alt="" class="nav-icon">Home</a>
      </div>
      <div class="icons">
        <a class="nav-link" routerLink='moments'><img src="./assets/news.png" alt="" class="nav-icon">Moments</a>
      </div>
      <div class="icons">
        <a class="nav-link" routerLink='notifications'><img src="./assets/note.png" alt="" class="nav-icon">Notifications</a>
      </div>
      <div class="icons">
        <a class="nav-link" routerLink='messages'><img src="./assets/msg.png" alt="" class="nav-icon">Messages</a>
      </div>
      <form class="form-inline">
        <input class="round-corner search-twitter" type="text" placeholder="Search Twitter">
        <button class="round-corner post-tweet" name="Tweet" float="right">Tweet</button>
      </form>
    </nav>
  <router-outlet></router-outlet>
  </body>
</html>
