<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
  <div class="search-bar">
    <div class="row">
      <div class="col-md-6 nav-bar">
        <h6>Home Moments Notifications Messages</h6>

      </div>
      <div class="col-md-6 search">
        <input class="round-corner search-twitter" type="text" placeholder="Search Twitter">
        <button class="round-corner post-tweet" name="Tweet">Tweet</button>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3">
        <app-user-info></app-user-info>
        <app-trending></app-trending>
      </div>
      <div class="col-md-6">
        <app-timeline></app-timeline>
      </div>
      <div class="col-md-3">

      </div>
    </div>
  </div>
  </body>
</html>
