/*make container fluid light grey.*/
.search-bar{
  background-color: white;
  min-height: 46px;
  background-image: url('http://www.stickpng.com/assets/images/580b57fcd9996e24bc43c53e.png');
  background-position: center;
  background-size: 46px;
  background-repeat: no-repeat;
  padding-top: 6px;
  padding-bottom: 6px;
}
.nav-bar{
  text-align: center;
}
.search{
  text-align: center;
}
.container-fluid{
  background-color: #e6ecf0;
  height: 100vh;
}
.round-corner{
  border-radius: 19px;
}
p{
  color: #66757f;
}
p:hover{
  color: #1B95E0;
  text-decoration: underline #1B95E0;
}
.search-twitter{
  background-color: #f5f8fa;
  border: 1px solid #e6ecf0;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 12px;
  padding-right: 32px;
  font-size: 12px;
}
