<div class="trends">
  <span class="display-name">Trending topics</span>
  <br><span class="topic">Generic celebrity</span>
  <br><sup>something scandalous</sup>
  <br><span class="topic">#LoremIpsum</span>
  <br><sup>10.3k tweets</sup>
  <br><span class="topic">Coffee</span>
  <br><sup>2.9 million tweets</sup>
  <br><span class="topic">Bojack Horseman</span>
  <br><sup>Bojack Horseman's latest role</sup>
  <br><span class="topic">#HipsterBedtimeStories</span>
  <br><sup>You probably haven't heard them before</sup>
  <br><span class="topic">Tuscon, Arizona</span>
  <br><sup>Amber Alert: Two children abducted</sup>
  <br><span class="topic">Some athlete</span>
  <br><sup>This athlete did something cool in their respective sport</sup>
  <br><span class="topic">NASA</span>
  <br><sup>New space program announced</sup>
</div>
