/* set height for search bar */
/*set margin for container-fluid*/
body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 300;
  background-color: #e6ecf0;
}
p{
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  text-align: left;
  font-size: 13px;
}
h1{
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
h2{
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
h3{
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.nav-icon{
  max-width: 20px;
  float: left;
  margin-left: 15px;
}
.me-irl{
  text-align: center;
}
.container-fluid{
}
textarea{
  resize: none;
}
.icons{
  padding-top: 10px;
}
.tweet-form{
  border-radius: 8px;
  background-color: white;
  border: solid 1px #A3D4F2;
}
.round-corner{
  border-radius: 19px;
}
button.round-corner{
  background-color: #48AAE6;
  color: white;
  border: none;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 16px;
  padding-right: 16px;
}
.handle{
  color: #657786;
}
.display-name{
  font-size: 18px;
  color: black;
  font-weight: bold;
}
img{
  max-width: 400px;
}
nav{
  background-color: white;
  padding-bottom: 0px;
  font-size: 14px;
  color: #1B95E0;
}
a.nav-link{
  color: #66757f;
  font-weight: bold;
}
a.nav-link:hover{
  color: #48AAE6;
}
