/* set height for search bar */
/*set margin for container-fluid*/
body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 300;
}
.container-fluid{
}
textarea{
  resize: none;
}
.icons{
  padding-top: 10px;
  padding-left: 40px;
}
p{
  text-align: left
}
.nav-icon{
  max-width: 20px;
  float: left;
  margin-left: 15px;
}
.tweet-form{
  border-radius: 8px;
  background-color: white;
  border: solid 1px #A3D4F2;
}
.round-corner{
  border-radius: 19px;
}
button.round-corner{
  background-color: #48AAE6;
  color: white;
  border: none;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 16px;
  padding-right: 16px;
}
.handle{
  color: #657786;
}
.display-name{
  font-size: 18px;
  color: black;
  font-weight: bold;
}
